doctype html
html(lang='en')
head
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='title', content="Krauz's Personal Website ")
meta(name='keywords', content=' web development , Portfolio, Krauz')
meta(name='author', content=' Aryan Pandey')
meta(name='google-site-verification', content='FzU4gMeQkTrF-obn0KZgNIs4Acjz2AB069-5LPOzKlA')
meta(name='description', content="Hello This is Krauz's Personal Website. With Personal Information About Krauz On It. Feel Free To Read.")
link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
link(rel='stylesheet', href='./assets/index.css')
link(rel='stylesheet', href='./assets/css/boxicons.min.css', type='text/css', media='all')
    // <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
link(rel='apple-touch-icon', sizes='120x120', href='./img/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='./img/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#ffffff')
script(src='js/scrollreveal.js', defer='')
script(src='js/index.js', defer='')
title Krauz&apos;s Website
body
header
a.logo
| Kra
span zorg
#menu-icon.bx.bx-menu
nav
ul.navbar
li
a(href='#home') Home
li
a(href='#about') About
li
a(href='#projects') Projects
li
a(href='#contact') Contact
section#home.home
.home-text
b Hello, I am
h1
| Krauz The
span Unlucky
|  One
p
| I am a Hard-working
span#job Developer
p
| If you find any Bugs or Error. Send them to me using
a(href='#contact') contact
.home-img
img(src='./img/krauz.png', alt='Krauz')
button.btn(type='submit') Download CV
section#about.about
.about-text
h3  ABOUT US
p#Des
br
|  I am a Self-taught Programmer. I Made This Whole website All By Myself using Just My Mobile Phone thanks to
a(href='#credits') credits
p
| hello I am Krauz. My real name is
span No real name
.count
a(href='#')
span 0
|  Project Completed
a(href='#')
span 0
|  Satisfied Customers
.main-btn
a.btn(href='#contact') Contact Me
a.btn(href='#')  Portfolio
section#Projects.Projects
.center
h3 Projects
.cards
        // Card 1
.card
.img-sec
img(src='assets/calc.png', alt='Calculator')
.content
b  Calculator
p
| A tool for calculating mathematical equations
| Uses standard mathematical notation where possible (so users do not have to learn the application when they already know maths)
| Easy enough to use for simple maths (add, subtract, multiply, divide)
.blog-view
a.btn(href='https://krauzx.github.io/Calculator')  Check Out
        // Card 2
.card
.img-sec
img(src='img/Brick.png', alt='Brick')
.content
b  Brick-Game
p
| The classic Brick breaker Game is a Breakout clone which the player must smash a wall of bricks by deflecting a bouncing ball with a paddle. The paddle may move horizontally and is controlled with the BlackBerry&apos;s trackwheel, the computer&apos;s mouse or the touch of a finger
.blog-view
a.btn(href='https://krauzx.github.io/Brick')  Check Out
        // Card 3
.card
.img-sec
img(src='assets/calc.png', alt='Calculator')
.content
b  Calculator
p
| this Calculator is made to make calculation Easy. It also Supports Dark &amp; White mode
.blog-view
a.btn(href='https://krauzx.github.io/Calculator')  Check Out
section#services.services
.center
h3 WHAT I DO?
.service-content
.row
i.bx.bx-cast
h3 Web Development
p
| I am between Beginner and intermediate in web development.
.row
i.bx.bx-layer
h3 Android Development
p
| Not much Knowledge Then a Beginner.
.row
i.bx.bx-user-voice
h3 IOS Development (not yet)
p
| WHAT DO I PUT HERE? WHAAAAAAAAAAT?
.row
i.bx.bx-cast
h3 Database
p
| So Far used Database in One project. will do more and update here.
.row
i.bx.bx-layer
h3 Game Development
p
| Made 3 Games.
br
|  One - A text-adventure Rpg
br
| Two- a clicker game (deleted)
br
|  Three - Brick Breaker Game
.row
i.bx.bx-chart
h3 Failure development
p
| 100% Failure
section.cta
p
| Have Any Project in Mind?
span  Just Say &quot;Hello&quot;
a.btn(href='https://discord.gg')  Hire Me?
section#resume.resume
.center
h3  Experience and Education
.resume-content
.box
h4 Web Development
p
| I started web development. when I got Inspired to make a text-adventure game After playing it for some time
.box
h4 Android Development
p
| I started Android development Shortly after I got into web development. Due to insufficient tools i am still a beginner in it
.box
strong Not started
h4 IOS Development
p
strong  Buy me a Iphone
section#contact.contact
.center
h3  Contact Us
.contact-form
form(action='./assets/data/g.php', method='post', accept-charset='utf-8')
input#name(type='text', name='name', placeholder='Your Name', required='')
input#email(type='email', name='email', placeholder='Example@Gmail.com', required='')
textarea#desc(name='Desc', placeholder='Description', rows='10', cols='30', maxlength='20', required='')
input#submit.send-btn.btn(onclick='sendE()', type='submit', name='submit', value='Send')
section#credits.credits
cite
i.bx.bxl-facebook-square.bx-flip-horizontal.bx-tada(style='display:flex; width:20px; height:20px;')
a(href='')
a(href='https://acode.foxdebug.com/')
img.Con(src='https://acode.foxdebug.com/res/logo%20circle.png', height='20px', width='20px', alt='Acode')
footer
| Copyright &copy; 2022, All rights Reserved, Created with &#x2764;&#xFE0F; by Krauz